.social a{
	font-size: 4.5em;
	padding: 3rem;
}

.fa-facebook{
	color: #3b5998;
}

.fa-instagram{
	color: #517fa4;
}

.fa-github{
	color: #000000;
}

.card{
	margin-top: 15px;
	margin-bottom: 15px;
	clear: both;
}

.card-title {
	font-family: 'Abril Fatface', cursive;
}

.card-text {
	font-family: 'Raleway', sans-serif;
}